.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.variante1 .cards-card-body{
    margin: -43px 0 0 0;
}

.cards.variante1  .cards-card-body p strong{
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 3px 6px;
    background: #f70d28;
    text-transform: uppercase;
    margin-left: 7px;
}


.cards.variante1  .cards-card-body p {
    color: #212121;
    font-size: 15px;
}

.cards.variante1 > ul > li {
    border: 0px
}

.section.sidebar{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.sidebar div{
  margin: initial;
}
