.columns-speck > div {
  display: flex;
  flex-direction: column;
}

.columns-speck img {
  width: 100%;
}

.columns-speck > div > div {
  order: 1;
}

.columns-speck > div > .columns-speck-img-col {
  order: 0;
}

.columns-speck > div > .columns-speck-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns-speck > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns-speck > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-speck img:after {
    content: "";
    background: url(/icons/icons.png);
    background-size: 600px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 10;
    right: 15px;
    bottom: -23px;
    -webkit-filter: drop-shadow(2px 1px 2px #656565);
    filter: drop-shadow(2px 1px 2px #656565);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
