/* new css */

.cardsTitle p
{
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    margin-bottom: 23px;
    display: block;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.cardsTitle p:after
{
    content: '';
    width: 30px;
    height: 2px;
    background: #f70d28;
    display: block;
    position: relative;
    bottom: -7px;
}

.icon-ipp
{
    width: 18px;
    bottom: -6px;
    position: relative;
}