.video-columns > div {
  display: flex;
  flex-direction: column;
}

.video-columns img {
  width: 100%;
}

.video-columns > div > div {
  order: 1;
}

.video-columns > div > .columns-img-col {
  order: 0;
}

.video-columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .video-columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .video-columns > div > div {
    flex: 1;
    order: unset;
  }
}

.video-columns h2{
    color: #444444;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
}

.video-columns .mainTitle:after{
    content: '';
    width: 30px;
    height: 2px;
    background: #f70d28;
    display: block;
    position: relative;
    bottom: -2px;
}

.video-columns .mainTitle{
    color: #212121;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    float: left;
    margin-bottom: 1px;
}
